.opportunity-button-action {
  border: 1px solid #0051b6 !important;
  color: #0051b6;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  &:hover {
    border: 1px solid #0051b6 !important;
    color: #0051b6 !important;
  }
}
