.ant-input-number-input-wrap {
  width: 100% !important;
  height: 100% !important;
}

.ant-input-number-input {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-form-item-label {
  padding: 0 !important;
}
