.ant-steps-item-title {
  color: #212b36 !important;
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  line-height: 1.57143 !important;
  width: 100% !important;
}
.ant-steps-item-description {
  color: #919eab !important;
  font-weight: 400 !important;
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
  margin-top: 4px !important;
  padding-bottom: 24px !important;
  width: 30% !important;
}
